<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <meta charset="iso-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="salomao.marcos@gmail.com">
    
	<title>Netshoes Questão 1</title>
    
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            
</head>	
<body ng-app="cepApp">

	<div class="page-header">
	   <h1>Endereço
	      <small>Realize o cadastro do seu endereço</small>
	   </h1>
	</div>
  	
  	<div class="container">
	  	<div class="alert alert-info">
	  		Foram "mockados" os CEPs 22333999 e 22333000.
	  	</div>
  		<form ng-controller="enderecoControl" role="form">
		  	<div class="form-group">
	  			<label>CEP</label> 
		  		<div class="form-inline">
		  			<input  ng-model="endereco.cep" type="text" class="form-control" required /> 
		  			<input type="button" value="Buscar CEP" class="btn btn-default" ng-click="buscarEnderecoPorCEP(endereco.cep)" /> 
		  			{{ mensagem }}
		  		</div>
	  		</div>
	  		<div class="form-group"><label>Rua</label> <input type="text" class="form-control" ng-model="endereco.rua" /></div>
	  		<div class="form-group"><label>Número</label> <input type="text" class="form-control" ng-model="endereco.numero" /></div>
	  		<div class="form-group"><label>Complemento</label>   <input type="text" class="form-control" ng-model="endereco.complemento" /></div>
	  		<div class="form-group"><label>Bairro</label>   <input type="text" class="form-control" ng-model="endereco.bairro" /></div>
	  		<div class="form-group"><label>Cidade</label>   <input type="text" class="form-control" ng-model="endereco.cidade" /></div>
	  		<div class="form-group"><label>Estado</label>   <input type="text" class="form-control" ng-model="endereco.estado" /></div>
	  		<div class="form-group"><button type="submit" class="btn btn-primary" ng-click="salvarEndereco(endereco)">Salvar</button> <button type="button" class="btn btn-danger">Excluir</button></div>
	  	</form>	
  	</div>
  	
	<!-- jQuery and Bootstrap library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
	
	<script type="text/javascript">
	
	// module
	var app = angular.module('cepApp', ['ngResource']);
	
	// controller
	app.controller('enderecoControl', function($scope, $resource) {
		
		/**
		 * Método para buscar o endereço do CEP.
		 */
		$scope.buscarEnderecoPorCEP	= function(_cep) {
			 
			 $scope.endereco = null;

			 if (_cep == undefined || _cep == '') {
				 $scope.mensagem = 'CEP é obrigatório!';
				 return;
			 }
			 
			console.log('Buscando o endereço do CEP: ' + _cep);

			// Criando resource REST para o CEP
			var cepResource = $resource('services/cep/:cep', {
				cep: _cep,
				isArray: false
			});
		
			// Efetuando a requisição GET no servidor
			cepResource.get().$promise.then(
	    			function(endereco) {
	    				$scope.endereco = endereco;
	    			}, function(error) {
			    		console.log('Ocorreu um erro ao buscar o CEP: ' + error.data);
			    		$scope.mensagem = error.data;
			    	});
			
		};
		
		/**
		 * Método para salvar o endereço do usuário.
		 */
		$scope.salvarEndereco = function(_endereco) {
			 
			console.log('Salvando endereço.');

			// Criando resource REST para o CEP
			var cepResource = $resource('services/endereco');
		
			// Efetuando a requisição GET no servidor
			cepResource.save(_endereco).$promise.then(
	    			function(_endereco) {
	    				$scope.endereco = _endereco;
	    			}, function(error) {
			    		console.log('Ocorreu um erro ao salvar o endereço: ' + error.data);
			    		$scope.mensagem = error.data;
			    	});
			
		};
	
	});
	
	</script>
    
</body>
</html>